//- Required variables:
    * articles: { 
          headline: string, 
          subheadline: string, 
          source: string,
          url: string,
          imageUrl: string, 
          author: string? 
      }[] 

html
  head
    include ../../partials/resources

  body
    include ../../partials/navigationBar

    .card-columns.w-75.mx-auto.my-3
      each article in articles
        .card
          img.card-img-top(src=article.imageUrl)
          .card-body
            a(href="#")
              h5.card-title #{article.headline}
            //- p.card-text #{article.subheadline}
          .card-footer
            small.text-muted #{'Source: ' + article.source + (article.author ? ' (' + article.author + ')' : '')}
