html
    head
        include ../partials/resources

    body
        include ../partials/navigationBar

        div(class="jumbotron")
            h1(style="text-align:center;" class="display-1") Welcome!
            h2(style="text-align:center;"): mark We are the Positron team :)

        div(class="container-fluid")
            div(class="row")
                div(class="col")
                    h3(style="text-align:center; word-break: break-word;" class="text-danger") Hello! Like anybody else, we have been affected by the COVID-19 pandemic. It is easy to notice the uncountable ways in which humans are being required to change for the benefit of a better tomorrow.  
                div(class="col")
                    h3(style="text-align:center;") Other text here
    
