html
  head
    include ../partials/resources

  body
    include ../partials/navigationBar
    p Hello! This line was added by David to 1) test my continuous deployment setup, and 2) get everyone used to merge conflicts and how to deal with them.
    p To deal with the merge conflict, merge master into your branch first. After manually resolving the merge conflicts (i.e. deleting these two lines) you can make a PR from your branch.
    
